<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Lot</title>
    </head>
    <body>
        <script type="text/javascript">
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }


        function addWS(){
            const socket = new WebSocket('ws://localhost:5000/ws/lot');
            socket.addEventListener('message', function (event) {
                var msg = JSON.parse(event.data);
                console.log(msg);
                if (document.querySelector("#lot-id").dataset.id == msg.id) {
                    updateLot(msg);
                }
            });
        }

        function updateLot(lot) {
            const title = document.querySelector('#title');
            const description = document.querySelector('#description');
            const status = document.querySelector('#status');
            const buyer = document.querySelector('#buyer');
            const minPrice = document.querySelector('#min-price');
            const curPrice = document.querySelector('#cur-price');
            const priceStep = document.querySelector('#price-step');
            const endAt = document.querySelector('#end-at');
            title.innerHTML = "Title: " + lot.title;
            description.innerHTML = "Description: " + lot.description;
            buyer.innerHTML = "Buyer: " + lot.buyer.first_name + " " + lot.buyer.last_name;
            status.innerHTML = "Status: " + lot.status;
            minPrice.innerHTML = "Minimal Price: " + lot.min_price;
            curPrice.innerHTML = "Current Price: " + lot.buy_price;
            priceStep.innerHTML = "Price Step: " + lot.price_step;
            endAt.innerHTML = "End At: " + lot.end_at;
        }

        function main() {
            const btn = document.querySelector('#price-submit');
            btn.onclick = function() {
                console.log("clicked");
                const request = new XMLHttpRequest();
                const url = "http://localhost:5000/v1/auction/lots/{{.ID}}/buy";
                request.open("PUT", url);
                request.setRequestHeader("Content-Type", "application/json");
                const authCookie = getCookie("bearer-token");
                request.setRequestHeader("Authorization", "Bearer " + authCookie);
                const price = Number(document.querySelector('#price').value);
                const jsonPrice = JSON.stringify({"price": price});
                console.log(jsonPrice);
                request.send(jsonPrice);
                return false;
            }
            addWS();
        }

        document.addEventListener('DOMContentLoaded', main);
        </script>
        <div class="container">
            <div class="row">
                <div class="col-4 offset-2">
                    <h4 id="lot-id" data-id="{{.ID}}">Lot</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    ID: {{.ID}}
                </div>
                <div id="title" class="col-4">
                    Title: {{.Title}}
                </div>
                <div id="description" class="col-4">
                    Description: {{.Description}}
                </div>
            </div>
            <div class="row">
                <div id="status" class="col-4">
                    Status: {{.Status}}
                </div>
                <div class="col-4">
                    Owner: {{.Creator.FirstName}} {{.Creator.LastName}}
                </div>
                <div id="buyer" class="col-4">
                    Buyer: {{.Buyer.FirstName}} {{.Buyer.LastName}}
                </div>
            </div>
            <div class="row">
                <div id="min-price" class="col-4">
                    Minimal Price: {{.MinPrice}}
                </div>
                <div id="cur-price" class="col-4">
                    Current Price: {{.BuyPrice}}
                </div>
                <div id="price-step" class="col-4">
                    Price Step: {{.PriceStep}}
                </div>
            </div>
            <div id="end-at" class="row">
                <div class="col-6">
                    End At: {{.EndAt}}
                </div>
            </div>
            <div class="row">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Your Price</label>
                        <input type="text" class="form-control" id="price" placeholder="Enter Your Price">
                        <small id="priceHelp" class="form-text text-muted">Price must be bigger than current price, min price and be multiple of price step.</small>
                    </div>
                    <button id="price-submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
