<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Lots</title>
    </head>
    <body>
        <script type="text/javascript">
        function addWS() {
            const socket = new WebSocket('ws://localhost:5000/ws/lots');
            console.log("socket connected");
            socket.addEventListener('message', function (event) {
                console.log("message received");
                var msg = JSON.parse(event.data);
                console.log(msg);
                updateLot(msg);
            });
        }

        function updateLot(lot) {
            const title = document.querySelector('#title-'+lot.id);
            const description = document.querySelector('#description-'+lot.id);
            const status = document.querySelector('#status-'+lot.id);
            const priceStep = document.querySelector('#price-step-'+lot.id);
            const buyPrice = document.querySelector('#buy-price-'+lot.id);
            const endAt = document.querySelector('#end-at-'+lot.id);
            title.innerHTML = lot.title;
            description.innerHTML = lot.description;
            status.innerHTML = lot.status;
            priceStep.innerHTML = lot.price_step;
            buyPrice.innerHTML = lot.buy_price;
            endAt.innerHTML = lot.end_at;
        }

        function main() {
            var lots = document.querySelectorAll('.clickable-row');
            for (var lot of lots) {
                lot.onclick = function() {
                    window.location.href = "http://localhost:5000/lots/" + this.id;
                }
            }
            addWS();
        }

        document.addEventListener('DOMContentLoaded', main);

        </script>
        <div class="container">
            <div class="row">
                <div class="col-4 offset-2">
                    <h4>Lots</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price Step</th>
                                <th scope="col">Status</th>
                                <th scope="col">Current Price</th>
                                <th scope="col">Ends at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Lots}}
                            <tr id="{{.ID}}" class='clickable-row' data-href="http://localhost:5000/lots/{{.ID}}">
                                <th id="id-{{.ID}}" scope="row">{{.ID}}</th>
                                <td id="title-{{.ID}}">{{.Title}}</td>
                                <td id="description-{{.ID}}">{{.Description}}</td>
                                <td id="price-step-{{.ID}}">{{.PriceStep}}</td>
                                <td id="status-{{.ID}}">{{.Status}}</td>
                                <td id="buy-price-{{.ID}}">{{.BuyPrice}}</td>
                                <td id="end-at-{{.ID}}">{{.EndAt}}</td>
                            </tr>
                            {{else}}
                            <h6>No lots.</h6>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
