<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Lots</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-4 offset-2">
                    <h4>Name of the owner: {{.FirstName}} {{.LastName}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Starting Price</th>
                                <th scope="col">Price Step</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Lots}}
                            <tr>
                                <th scope="row">{{.ID}}</th>
                                <td>{{.Title}}</td>
                                <td>{{.Description}}</td>
                                <td>{{.MinPrice}}</td>
                                <td>{{.PriceStep}}</td>
                            </tr>
                            {{else}}
                            <h6>{{.FirstName}} {{.LastName}} does not own any lots.</h6>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
