<!doctype html>
<html>
    <head>
        <title>Update Lot</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script type="text/javascript">
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            function main() {
                const btn = document.querySelector('#update-button');
                btn.onclick = function() {
                    const url = "http://localhost:5000/v1/auction/lots/{{.ID}}";
                    const title = document.querySelector('#inputTitle').value;
                    const description = document.querySelector('#inputDescription').value;
                    const minPrice = Number(document.querySelector('#inputMinPrice').value);
                    const priceStep = Number(document.querySelector('#inputPriceStep').value);
                    const endAt = document.querySelector('#inputEndAt').value;
                    const status = document.querySelector('#inputStatus').value;
                    const req = new XMLHttpRequest();
                    req.open("PUT", url);
                    const authCookie = getCookie("bearer-token");
                    req.setRequestHeader("Authorization", "Bearer " + authCookie);
                    req.setRequestHeader("Content-Type", "application/json");
                    const obj = {"title": title, "description": description, "min_price": minPrice, "price_step": priceStep, "end_at": endAt, "status": status};
                    const jsonReq = JSON.stringify(obj);
                    req.send(jsonReq);
                    return false;
                }
            }
            document.addEventListener('DOMContentLoaded', main);
        </script>
    </head>
    <body class="text-center">
        <form>
            <h1 class="h3 mb-3 font-weight-normal">Update Lot {{.ID}}</h1>
            <label for="inputTitle" class="sr-only">Title</label>
            <input type="text" id="inputTitle" class="form-control" placeholder="{{.Title}}" required autofocus>
            <label for="inputDescription" class="sr-only">Description</label>
            <input type="text" id="inputDescription" class="form-control" placeholder="{{.Description}}">
            <label for="inputMinPrice" class="sr-only">Min Price</label>
            <input type="text" id="inputMinPrice" class="form-control" placeholder="{{.MinPrice}}" required>
            <label for="inputPriceStep" class="sr-only">Price Step</label>
            <input type="text" id="inputPriceStep" class="form-control" placeholder="{{.PriceStep}}">
            <label for="inputEndAt" class="sr-only">End At</label>
            <input type="text" id="inputEndAt" class="form-control" placeholder="{{.EndAt}}" required>
            <label for="inputStatus" class="sr-only">Status</label>
            <input type="text" id="inputStatus" class="form-control" placeholder="{{.Status}}" required>
            <button id="update-button" class="btn btn-lg btn-primary btn-block">Update Lot</button>
        </form>
    </body>
</html>
